.todoSeparator {
  border-left: 0.1rem dashed;
  height: 100%;
}

@media (max-width: 768px) {
  .todoSeparator {
    border-left: none;
    border-top: 0.1rem dashed;
    width: 100%;
    height: 0;
    margin: 0.25rem 0;
  }
}